:root {
  --main: #151515;
  --cool: #3c415c;
  --second: #747eb3;
  --shadows: #3c415c17;
}

* {
  font-family: Poppins;
}

.top-box {
  position: absolute;
  justify-self: center;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 70vw;
  color: var(--second);
  font-size: 1.7em;
}

.top-box .right {
  justify-self: right;
  text-transform: capitalize;
  font-weight: 600;
}

.top-box .right a {
  text-decoration: none;
  color: var(--second);
  margin-left: 2em;
}

.top-box .left {
  font-weight: 600;
}

footer {
  background: var(--cool);
  width: 100vw;
  height: 250px;
  border-top: 10px solid var(--second);
  overflow: hidden;

  display: grid;
  justify-items: center;
}

footer .container {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  align-items: center;
}

footer img {
  justify-self: center;
  width: 10em;
  border-radius: 50%;
  border: 6px solid var(--cool);
  box-shadow: 20px 20px 0px #747eb310;
}

footer .container .right {
  justify-self: right;
}

footer h1 {
  color: var(--second);
  font-size: 2em;
  margin: 0;
}

footer p {
  margin: 0;
  font-size: 1.25em;
  color: var(--second);
  opacity: 0.8;
}

@media screen and (max-width: 800px) {

  footer .container {
    width: 100vw;
    justify-items: center;
  }
  .top-box .right {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  footer .container {
    width: 100vw;
    transform: scale(.7);
  }
  footer img {
    box-shadow: none;
  }
}